<!-- title nad search and sort -->
<div class="center-container">
  <h1>Country List</h1>
  <div class="search-sort-container">
    <label for="search">Search by Country Name:</label>
    <input type="text" id="search" [(ngModel)]="searchInput" (input)="searchCountries()">
    <label for="sort">Sort by Country Name:</label>
    <select id="sort" [(ngModel)]="sortOrder" (change)="sortCountries()">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
</div>
<table>
  <!-- Table headers -->
  <thead>
    <tr>
      <th>Flags</th>
      <th>Country Name</th>
      <th>2 character Country Code</th>
      <th>3 character Country Code</th>
      <th>Native Country Name</th>
      <th>Alternative Country Name</th>
      <th>Country Calling Codes</th>
    </tr>
  </thead>
  <!-- Table body will be populated dynamically using Angular ngFor directive -->
  <tbody>
    <tr *ngFor="let country of paginatedCountries">
      <td><img [src]="country.flags.png" alt="Flag"></td>
      <td (click)="openCountryModal(country)"class="country_name">{{ country.name.official }}</td>
      <td>{{ country.cca2 }}</td>
      <td>{{ country.cca3 }}</td>
      <td>{{ country.name.nativeName | json}}</td>
      <td>{{ country.altSpellings | json }}</td>
      <td>{{ country.idd | json}}</td>
    </tr>
  </tbody>
</table>
<!-- Pagination controls -->
<div *ngIf="totalPages > 1" class="pagination center-container">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>
<br>
